@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background-color: black;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
}
.bg-grid-lines {
  background: #424242;
  background: linear-gradient(
    0deg,
    rgba(66, 66, 66, 1) 25%,
    rgba(74, 74, 74, 1) 69%,
    rgba(138, 138, 138, 0.47) 90%
  );
}
