@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
body {
  background-color: #050505;
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
}
.bg-grid-lines {
  background: #424242;
  background: linear-gradient(
    0deg,
    rgba(66, 66, 66, 1) 25%,
    rgba(74, 74, 74, 1) 69%,
    rgba(138, 138, 138, 0.47) 90%
  );
}
@theme {
  --color-primaryOrange: #d4af37;
  --color-primaryGray: #c0c0c0;
  --color-primaryBlack: #050505;
}

@keyframes magneticPull {
  0% {
    transform: scale(1) translateY(0);
  }

  100% {
    transform: scale(0) translateY(0);
  }
}
@keyframes magneticPush {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.tech-icon-container {
  perspective: 1200px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tech-icon {
  position: relative;
  z-index: 1;
  transition: filter 0.3s ease;
}

canvas {
  height: 400px !important;
}
html {
  scroll-behavior: smooth;
}

@media (max-width: 1024px) {
  .tech-text {
    left: 5px;
    top: 5px;
  }
}
@media (min-width: 1024px) {
  .tech-icon-container:hover .tech-icon {
    animation: magneticPull 0.6s forwards;
  }
  .tech-icon-container:hover .tech-text {
    animation: magneticPush 0.6s forwards;
  }
}
